# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs
.trae/skills/lumina-design-system/SKILL.md
.trae/skills/ui-ux-pro-max/SKILL.md
.trae/skills/ui-ux-pro-max/data/charts.csv
.trae/skills/ui-ux-pro-max/data/colors.csv
.trae/skills/ui-ux-pro-max/data/icons.csv
.trae/skills/ui-ux-pro-max/data/landing.csv
.trae/skills/ui-ux-pro-max/data/products.csv
.trae/skills/ui-ux-pro-max/data/react-performance.csv
.trae/skills/ui-ux-pro-max/data/styles.csv
.trae/skills/ui-ux-pro-max/data/typography.csv
.trae/skills/ui-ux-pro-max/data/ui-reasoning.csv
.trae/skills/ui-ux-pro-max/data/ux-guidelines.csv
.trae/skills/ui-ux-pro-max/data/web-interface.csv
.trae/skills/ui-ux-pro-max/data/stacks/astro.csv
.trae/skills/ui-ux-pro-max/data/stacks/flutter.csv
.trae/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
.trae/skills/ui-ux-pro-max/data/stacks/jetpack-compose.csv
.trae/skills/ui-ux-pro-max/data/stacks/nextjs.csv
.trae/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
.trae/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
.trae/skills/ui-ux-pro-max/data/stacks/react-native.csv
.trae/skills/ui-ux-pro-max/data/stacks/react.csv
.trae/skills/ui-ux-pro-max/data/stacks/shadcn.csv
.trae/skills/ui-ux-pro-max/data/stacks/svelte.csv
.trae/skills/ui-ux-pro-max/data/stacks/swiftui.csv
.trae/skills/ui-ux-pro-max/data/stacks/vue.csv
.trae/skills/ui-ux-pro-max/scripts/core.py
.trae/skills/ui-ux-pro-max/scripts/design_system.py
.trae/skills/ui-ux-pro-max/scripts/search.py
.trae/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-311.pyc
.trae/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-314.pyc
.trae/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-311.pyc
.trae/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-314.pyc
.trae/skills/ui-ux-pro-max/scripts/__pycache__/search.cpython-314.pyc
.vscode/extensions.json
indexHtml/index.html
